


html { 
	background: url(aboutpagebackground.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }

.white{
	background-color: rgba(3, 3, 3, 0.6);
	  color: white;
	  height:  500px;
	  width: 600px;
      margin: 0 auto;
      margin-top: 75px;
	  padding: 30px;
  }

  h1{
      font-size: 80px;
      
      color: red;
     
      font-family: cursive;
  }

  .fa-home {
    color: red;
    margin-left: 10px; 
  }